@font-face {
    font-family: 'danielregular';
    src: url('Daniel-Regular-webfont.eot');
    src: url('Daniel-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Daniel-Regular-webfont.woff2') format('woff2'),
         url('Daniel-Regular-webfont.woff') format('woff'),
         url('Daniel-Regular-webfont.ttf') format('truetype'),
         url('Daniel-Regular-webfont.svg#danielregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

main {
  height: 768px;
  background-image: url("https://github.com/marcole17/eluney/blob/master/resources/images/perth_city.JPG");
  background-position: center;
}

body main h1 {
  font-family: 'danielregular', Arial, sans-serif;
  font-size: 128px;
  text-align: center;
  color: black;
}

@media only screen and (max-width: 480px) {
  body main h1 {
    font-size: 96px;
  }
}
