@font-face {
    font-family: 'danielbold';
    src: url('Daniel-Bold-webfont.eot');
    src: url('Daniel-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Daniel-Bold-webfont.woff2') format('woff2'),
         url('Daniel-Bold-webfont.woff') format('woff'),
         url('Daniel-Bold-webfont.ttf') format('truetype'),
         url('Daniel-Bold-webfont.svg#danielbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

